---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Section from '../components/Section.astro';
import Tag from '../components/Tag.astro';
import Course from "../components/Course.astro"
import Project from "../components/Project.astro"
import EasterEgg from '../components/EasterEgg.astro';
import { courses, projects, frontendSkills, backendSkills } from "../data/data.js"
---

<Layout title="Mirko Sáenz Valiente - Portfolio">
	<Header></Header>
	<Section animated={true} title="Front-end Skills">
		<div style="display: flex; gap:12px; flex-wrap:wrap;">
			{
				frontendSkills.map((item) => {
					return <Tag text={item.name} color={item.color} icon={item.icon} />
				})
			}
		</div>
	</Section>
	<Section animated={true} title="Back-end Skills">
		<div style="display: flex; gap:12px; flex-wrap:wrap;">
			{
				backendSkills.map((item) => {
					return <Tag text={item.name} color={item.color} icon={item.icon} />
				})
			}
		</div>
	</Section>
	<Section animated={true} title="Estudios">
		<div class="course-list">
			{
				courses.map((course) => {
					const {title, institute, date} = course
					return <Course title={title} institute={institute} date={date} />
				})
			}
		</div>
	</Section>
	<Section class="projects-container" animated={true} title="Proyectos">
		{
			projects.map((project) => {
				return <Project data={project}></Project>
			})
		}
	</Section>
	<div style="align-self:center;">
		<EasterEgg/>
	</div>
</Layout>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins&display=swap');
</style>
<style>
	.course-list{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.projects-container{
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
</style>
<style is:global>
	::-webkit-scrollbar{
		width: 10px;
	}
	::-webkit-scrollbar-track{
		background: #111111;
	}
	::-webkit-scrollbar-thumb{
		background-color: rgb(32, 200, 198);
		border-radius: 10px;
	}
	
	.animate-scroll{
		opacity: 0;
		animation-name: show;
        view-timeline-name: --scroll-animation;
        view-timeline-axis: y;
        animation-timeline: --scroll-animation;
        animation-range: entry 15% cover 40%;
        animation-fill-mode: forwards;
	}

	@keyframes show {
        from{
            opacity: 0;
						filter: contrast(0);
						scale: 90%;
					}
					to{
						opacity: 1;
						filter: contrast(1);
						scale: 100%;
        }
    }
	
	@keyframes changecolor{
		from{
			filter: hue-rotate(0deg);
		}
		to{
			filter: hue-rotate(60deg);
		}
	}
</style>