---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Section from '../components/Section.astro';
import Tag from '../components/Tag.astro';
import Course from "../components/Course.astro"
import { courses, knowledges } from "../data/data.js"
import Project from "../components/Project.astro"
---

<Layout title="Mirko Sáenz Valiente - Portfolio">
	<Header></Header>
	<Section animated={true} title="Conocimientos">
		<div style="display: flex; gap:12px; flex-wrap:wrap;">
			{
				knowledges.map((item) => {
					return <Tag text={item.name} color={item.color} icon={item.icon} />
				})
			}
		</div>
	</Section>
	<Section animated={true} title="Estudios">
		<div class="course-list">
			{
				courses.map((course) => {
					const {title, institute, date} = course
					return <Course title={title} institute={institute} date={date} />
				})
			}
		</div>
	</Section>
	<Section animated={true} title="Proyectos">
		<Project></Project>
	</Section>
</Layout>
<style>
	section{
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	section header{
		align-self: stretch;
	}

	.course-list{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
</style>
<style is:global>
	.animate-scroll{
		opacity: 0;
		animation-name: show;
        view-timeline-name: --scroll-animation;
        view-timeline-axis: y;
        animation-timeline: --scroll-animation;
        animation-range: entry 15% cover 40%;
        animation-fill-mode: forwards;
	}

	@keyframes show {
        from{
            opacity: 0;
            scale: 25%;
        }
        to{
            opacity: 1;
            scale: 100%;
        }
    }
</style>