---
const { text, color, icon } = Astro.props

const isRgbColor = color.includes("rgb")
const backgroundColor = isRgbColor ? color.slice(0,-1).concat(", .20)") : color.concat("48")
const backgroundStyle = `background-color:${backgroundColor};`

let tagStyles = `border:2px solid ${color}; color:${color};`.concat(backgroundStyle)
---

<div class="tag" style={tagStyles}>
    <img class="tag-icon" src={icon} alt="">
    <p class=`small-text tag-text`>{text}</p>
</div>
<style>
    .tag{
        display: flex;
        align-items: center;
        border-radius: 12px;
        gap: 8px;
        padding: 12px 16px;
    }

    .tag-icon{
        width: 24px;
    }

    .tag-text{
        margin: 0;
    }

    .no-bg{
        background: none;
        border: none;
    }
</style>